<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_idea</string>
		<key>title</key>
		<string>Status</string>
		<key>class</key>
		<string>WeiBo.XDLComposeViewController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_photo</string>
		<key>title</key>
		<string>Albums</string>
		<key>class</key>
		<string>WeiBo.XDLComposeViewController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_camera</string>
		<key>title</key>
		<string>Photo</string>
		<key>class</key>
		<string>WeiBo.XDLComposeViewController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_lbs</string>
		<key>title</key>
		<string>Check in</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_review</string>
		<key>title</key>
		<string>Comments</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tabbar_compose_more</string>
		<key>title</key>
		<string>More</string>
	</dict>
</array>
</plist>
